<%= link_to 'Add Item', add_item_path, class:'btn btn-success' %>
 <br/>
 <br/>
 
 

<table class="table">
  <thead class="table-dark">
     <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @items.each do |item| %>
       <td><%= item.name %></td>
       <td> <%= item.quantity %></td>
       <td> <%= item.price %></td>
       <td class="text-center">
       <%= link_to 'View', item_path(item.id), class:'btn btn-secondary' %>
       <%= link_to 'Edit', edit_item_path(item.id), class:'btn btn-warning' %>
       <%= link_to 'Delete', delete_item_path(item.id), method: :delete, confirm: 'Delete?', class:'btn btn-danger' %>
       </td>
    </tr>
      <% end %>
  </tbody>
</table>